* {
    font-family: 'Segoe UI', 'Microsoft YaHei', sans-serif;
}

body {
	margin: 0;
}

.nav_bar {
	display: flex;
	align-items: center;
	box-shadow: 0 2px 16px rgba(0,0,0,0.2);
	height: 64px;
	padding-left: 15px;
	padding-right: 10px;
	gap: 12px;
	font-size: 1.2em;
}

.nav_title {
	font-size: 1.1em;
	font-weight: 500;
}

.main_ct {
	display: flex;
	align-items: top;
}

.main_left_float {
	margin-left: 16px;
	margin-top: 22px;
	width: 240px;
}

.left_ct {
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.left_ct > .a {
	text-decoration: none;
	color: inherit;
	height: 56px;
	line-height: 56px;
	border-radius: 0px;
	padding-left: 3px;
	cursor: pointer;
	font-size: 1.2em;
}

.left_ct > .a:hover {
	background: linear-gradient(to right, #FCEFEA, #fff);
}

.left_ct > .a:active {
	/*background: linear-gradient(to right, #FCD1C6, #fff);*/
	font-size:0.93em;
}

.left_ct > .a[selected] {
	background: linear-gradient(to right, #FCD1C6, #fff);
}

.left_ct > .splitline {
	height: 0.8px;
	background: linear-gradient(to right, #aaa, #fff);;
}

.no-select {
	user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}

.iframe_right {
	flex-grow: 1;
	margin-right: 10vw;
	height: 700px;
	border: none;
    outline: none;
	margin-top: 6px;
}

.nav_bar > a {
	text-decoration: none;
	color: inherit;
	padding: 0 20px;
	transition: background-color 0.3s;
	text-align: center;
	height: 64px;
	line-height: 64px;
}
.nav_bar > a:hover {
	background-color: #F7F5B8;
}
.nav_bar > a:active {
	background-color: #F7F5B8;
	transform: scale(1,1.05);
}